.vscode/**
.github/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
webpack.config.js
**/example.*
media/**
!media/icon.png
client/**
!client/out/extension.js
server/**
!server/out/eslintServer.js
