.vscode/**
.github/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
**/.nyc_output/**
coverage/**
webpack.config.js
**/example.*
media/**
!media/icon.png
node_modules/**

client/node_modules/**/*.md
client/node_modules/**/AUTHORS
client/node_modules/**/CHANGELOG
client/node_modules/**/LICENSE
client/node_modules/**/examples/**
client/node_modules/**/example/**
client/node_modules/**/.travis.yml
client/node_modules/**/.npmignore
client/node_modules/**/.editorconfig
client/node_modules/**/.eslintrc.json
client/src/**
client/out/test/**
!client/out/extension.js

server/node_modules/**/*.md
server/node_modules/**/AUTHORS
server/node_modules/**/CHANGELOG
server/node_modules/**/LICENSE
server/node_modules/**/examples/**
server/node_modules/**/example/**
server/node_modules/**/.travis.yml
server/node_modules/**/.npmignore
server/node_modules/**/.editorconfig
server/node_modules/**/.eslintrc.json
server/node_modules/**/.jshintrc
server/src/**
!server/out/server.js
